In [ ]:
# !ln -s '/content/drive/My Drive/Research/Simulated Dispatch for Disasters/Waze-Data-Processing/data' 'data'

In [1]:
# !ln -s '/content/drive/My Drive/Research/Simulated Dispatch for Disasters/Waze-Data-Processing/output' 'output'

In [1]:
import os
import json
import codecs
from tqdm import tqdm
import pandas as pd

In [2]:
data = []
errors = []
for day in tqdm(os.listdir('data/12')):
    for hr in os.listdir('data/12/' + day):
        try:
            var = json.load(codecs.open(f'data/12/{day}/{hr}', 'r', 'utf-8-sig'))
            data.append(var)
        except:
            errors.append({'day': day, 'hr': hr})

100%|██████████| 31/31 [02:13<00:00,  4.32s/it]

In [6]:
len(data)

22289

In [7]:
accidents = []
for alerts in tqdm(data):
    for alert in alerts['alerts']:
        if alert['type'] == 'ACCIDENT':
            alert['lng'] = alert['location']['x']
            alert['lat'] = alert['location']['y']
            accidents += [alert]

100%|██████████| 22289/22289 [00:07<00:00, 2948.41it/s]

In [14]:
accident_df = pd.DataFrame.from_dict(accidents)
accident_df.drop('location', axis=1, inplace=True)
accident_df = accident_df.drop_duplicates()
accident_df.head()

,country,nThumbsUp,city,reportRating,confidence,reliability,type,uuid,roadType,magvar,subtype,street,pubMillis,lng,lat,reportDescription
0,US,0,"Nashville, TN",3,1,7,ACCIDENT,5a9e667f-3bda-3224-9662-e5a7e455f94f,3.0,233,,I-40 W,1575340901000,-86.636268,36.151548,NaN
1,US,0,"Goodlettsville, TN",1,0,5,ACCIDENT,03913aca-5045-3a89-94c7-378159603e8b,3.0,56,ACCIDENT_MINOR,Vietnam Veterans Blvd,1575337336000,-86.706220,36.304490,NaN
2,US,0,"Nashville, TN",1,0,5,ACCIDENT,94be551e-412f-3961-b1ef-490cf22fee40,4.0,153,,to I-24 E / Chattanooga,1575384564000,-86.698586,36.083495,NaN
3,US,0,"Nashville, TN",2,1,7,ACCIDENT,4707613e-1798-3052-bb7b-74a6647311e4,6.0,151,ACCIDENT_MAJOR,Old Hickory Blvd,1575383199000,-86.603257,36.175815,NaN
4,US,0,"Nashville, TN",2,5,10,ACCIDENT,daf0a810-a07a-34d2-bc41-1a18168ee48f,3.0,333,,I-65 N,1575384364000,-86.771595,36.111977,NaN

In [ ]:
accident_df.shape

In [ ]:
accident_df.head()

In [ ]:
accident_df.to_csv('/output/waze_12_raw.csv')